$bg-main-color: #222;
$bg-second-color: #ffffff;
$bg-true-color: #7be37f;
$bg-false-color: #ff8b8c;
$title-main-color: #ffffff;
$subtitle-main-color: #222;
$text-main-color: #222;
$font-main: 'Inter', sans-serif;