@use '../vars' as *;

.tools-tech {

  &__title {
    margin-bottom: 65px;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  &__card {
    position: relative;
    background-color: $bg-second-color;
    border-radius: 5px;
    padding: 50px 40px;
    max-width: 300px;
  }
}

.card-skill {

  &__status {
    position: absolute;
    top: 0;
    right: 15px;
    transform: translateY(-50%);
    padding: 4px 8px;
    margin: 0;
    border-radius: 2px;
    font-size: 12px;
  }

  &__status--bgcol-learned {
    background-color: $bg-true-color;
  }

  &__status--bgcol-not-learned {
    background-color: $bg-false-color;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  &__text--italic {
    font-style: italic;
  }
}